*.ddp
*.obj
#*.dll
#*.bpl
#*.bpi
*.dcp
*.so
#*.apk
*.pch
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
#*.lib
*.a
*.o
*.ocx
*.cfg
#*.hpp
#*Resource.rc
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.stat
*.~*
*.\#*
*.ilc
*.ild
*.ilf
*.ils
*.exe
*.txt
*.cgl

Thumbs.db

__history/
__recovery/
modules/

*.nif